# Files in following directories always change at each local build.
InterventionMonitor/InterventionMonitor/obj/Debug/*
InterventionMonitor/InterventionMonitor/bin/*
InterventionMonitor/InterventionMonitor.Tests/obj/Debug/*
InterventionMonitor/InterventionMonitor.Tests/bin/*

# Don't add SUO files as they differ per user.
*.suo