# Files in following directories always change at each local build.
InterventionMonitor/InterventionMonitor/obj/Debug/*
InterventionMonitor/InterventionMonitor/bin/*

# Everyone has their own data in the DB for now.
InterventionMonitor/InterventionMonitor/App_Data/*

# Don't add SUO files as they differ per user.
*.suo
